@import "@/styles/adaptive";

.index {
    left: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    z-index: 1;
    
    @media #{$tablet_max} {
        left: 0;
    }
}
