.bold {
    font-weight: 700;
}

.container {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;

    &:first-child {
        margin-top: 0;
    }
}

.description {
    margin-top: 5px;

    &:first-child {
        margin-top: 0;
    }
}

.title {
    font-weight: 700;
    text-align: right;
}
