$black: #000;
$black-80: rgba($black, 80%);
$blue: #11419b;
$dark: #212529;
$gray: #59595f;
$gray-10: #b2b2b2;
$gray-1: #e8e8e8;
$green: #1c6610;
$green_10: #2b9c18;
$green_30: rgba($green, 30%);
$red: #f00;
$white: #fff;
