@import '/src/styles/adaptive';

@mixin f_default {
    font-family: NotoSans, 'sans-serif';
    font-size: 16px;
    line-height: 26px;
}

@mixin f_h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
}
