@mixin layout-container {
    margin: 0 auto;
    max-width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

@mixin layout-negative-margin {
    margin-left: -20px;
    margin-right: -20px;
}
