* {
    box-sizing: border-box;
}

a {
    color: unset;
    text-decoration: none;
}

body {
    margin: 0;
}

button {
    background: none;
    border: none;
    outline: none;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

input {
    background: none;
    border: none;

    &:focus {
        outline: none;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
