@import "/src/styles/adaptive";
@import "/src/styles/colors";
@import "/src/styles/font";
@import "/src/styles/shadow";

.body {
    margin-top: 40px;
    text-align: center;
}

.bodyItem {
    margin-top: 20px;

    &:first-child {
        margin-top: 0;
    }
}

.description {
    font-style: italic;
}

.featureDescription {
    margin-top: 5px;
}

.featureTitle {
    @include f_big;

    font-weight: 700;
}

.header {
    text-align: center;
}

.git {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.image {
    border-radius: 20px;
    display: block;
    width: 100%;
}

.lastUpdate {
    border-radius: 40px;
    box-shadow: $shadow;
    display: inline-block;
    margin-top: 40px;
    padding: 20px 60px;

    @media #{$mobile_max} {
        margin-top: 20px;
        padding: 10px 20px;
    }
}

.title {
    @include f_h1;

    display: inline-block;
    margin-top: 45px;
}
