@import "@/styles/adaptive";
@import "@/styles/colors";

.index {
    align-items: center;
    background: $white;
    border: 1px solid $gray;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 60px;
    justify-content: center;
    width: 60px;

    &.disabled {
        cursor: default;
        pointer-events: none;
    }
    
    @media #{$tablet_max} {
        height: 30px;
        width: 30px;
    }
}

.icon {
    height: 32px;
    width: 32px;

    .disabled & {
        color: $gray;
    }
    
    @media #{$tablet_max} {
        height: 16px;
        width: 16px;
    }
}
