@import "@/styles/adaptive";
@import "@/styles/colors";
@import "@/styles/transition";

.index {
    align-items: center;
    background: $white;
    border: 1px solid $gray;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    gap: 20px;
    padding: 20px;
    transition: all $transitionDefault;

    @media #{$mobile_max} {
        padding: 10px;
    }

    &:hover {
        border-color: $blue;
    }

    &.disabled {
        color: $gray;
        cursor: default;
        pointer-events: none;
    }
}

.icon {
    color: $blue;
    transition: all $transitionDefault;

    .prev & {
        order: -1;
        transform: rotate(180deg);
    }

    .disabled & {
        color: $gray;
    }
}
