@import "@/styles/adaptive";

.index {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    z-index: 1;
    
    @media #{$tablet_max} {
        right: 0;
    }
}
