.index {
    padding-top: 50px;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.containerSocial {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.description {
    max-width: 410px;
}

.photoContainer {
    text-align: center;
}
