@import '/src/styles/adaptive';
@import '/src/styles/layout';

.index {
    position: relative;

    @media #{$tablet_max} {
        @include layout-negative-margin;
    }
}

.card {
    padding-bottom: 80px;
}

.slide {
    height: auto;
}
